
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
:root{
    /*========== fuente ==========*/
    --body-font: 'Akshar', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    /*========== colores ==========*/
    --n: #222831;
    --g: #393E46;
    --v: #00ADB5;
    --b: #eeeeee;
    --d: #F9DA1B;
    --d2: #ffec70;
 }

 /* Font size for large devices */
@media screen and (min-width: 968px) {
      :root {
          --big-font-size: 3rem;
          --h1-font-size: 2.25rem;
          --h2-font-size: 1.5rem;
          --h3-font-size: 1.25rem;
          --normal-font-size: 1rem;
          --small-font-size: .875rem;
          --smaller-font-size: .813rem;
      }
  }   

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Akshar', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--n);
}

h1, h2, h3, h4 {
  color: var(--d);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*<------------------NAV------------------>*/
nav{
  background-color: var(--v);
  border-bottom: 5px solid var(--d);
  border-top: 5px solid var(--d);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/LIBERALISMO-MUSCULAR/img/banner.jpg);
  background-size: cover;
  background-position: center;
  height:250px;
  background-repeat: no-repeat;
}

nav h1{
  color: var(--d);
  padding: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #fff;
  font-weight: bolder;
  font-size: var(--big-font-size);
  text-shadow: -2px 2px 5px var(--n);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  border-right: 0.1em solid var(--d);
  animation: typing 2s steps(15) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* The side navigation menu */
.sidenav {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0;
      right: 0;
      background-color: var(--n); /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      border-left: 3px solid var(--d);
  }
  .sidenav .uil{
    padding-right:10px;
  }
  /* The navigation menu links */
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: var(--b);
      display: block;
      transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus{
      color: var(--d);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      color:  var(--d);
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  .closebtn{
    animation: wiggle 4s infinite;
  }
  .sidenav .closebtn:hover{
    border: none;
    color: var(--b);
    cursor: pointer;
    }
    @keyframes wiggle {
      0% { transform: rotate(0deg); }
     80% { transform: rotate(0deg); }
     85% { transform: rotate(5deg); }
     95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }


  .uil-apps{
    font-size: var(--big-font-size);
    color: var(--b);
    position: relative;
    text-shadow: 2px 2px 3px black;
    top: 0;
    right: 0;
    transition: .5s;
}


  .uil-apps:hover{
    color: var(--d);
    cursor: pointer;
  }
  @keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.uil-apps {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

.uil-apps:hover {
  animation: none;
}
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      transition: margin-left .5s;
      padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
  }
/*<------------INICIO------------>*/
.inicio{
  text-align: center;
  background-color: var(--n);
}

.zyzz{
  padding-top:1rem;
  filter: drop-shadow(-2px 2px 15px var(--d));
  animation: brillo 5s infinite;
}
@keyframes brillo {
  0% {filter: drop-shadow(-2px 2px 5px var(--d));}
  50% {filter: drop-shadow(-2px 2px 20px var(--d));}
100% {filter: drop-shadow(-2px 2px 5px var(--d));}
}

.zyzz-tittle{
  background-color: var(--d);
}

.zyzz-text{
  color: var(--b);
}

p span .zyzz-title2{
  display:none;
}


/*<------------CALCULADORAS------------>*/
.titulos{
      margin-top: 2rem;
      color: var(--b);
      background-color: var(--g);
      padding:10px;
      text-shadow: 2px 2px 5px black;
}
.calculadora-imc{
  width:100%;
  height:100%;
}
 .titulos h1{
  color: var(--b);
}

.input-imc, #calc,#calc-macros,.input-macros{
      border:none;
      background-color:var(--d2);
      border:2px solid var(--n);
      font-weight: 500;
      border-radius: 4px;
      text-transform: uppercase;
}
 #calc,#calc-macros{
   margin-bottom: 1rem;
   padding:4px;
   font-weight: 600;
   background-color: var(--d);
 }
#calc:hover,#calc-macros:hover{
  background-color: var(--d2);
}

::placeholder{
  color: #00000040;
  text-transform: uppercase;
  font-size: var(--small-font-size);
}

#calorias,#proteina,#grasa,#fibra,#carbohidratos{
  color: var(--d);
}

/*<------------SCROLLUP------------>*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #ffeb3b;
  opacity: .6;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;
}

.scrollup:hover{
  opacity: 1;
}
.scrollup a:hover{
  border: none;
}
.scrollup__icon{
  font-size: 1.4rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

::-webkit-scrollbar{
  width: .60rem;
  background-color: #00000040;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: #ffeb3bc8;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #ffeb3b;
  border-radius: .5rem; }
